<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
<header class="header">
    <ul class="menu">
        <li>
            <a class="btn" href="/">Главная</a>
        </li>
        {% if not 'login' in request.session %}
        <li>
            <a href="/reg" class="btn">Регистрация</a>
        </li>
        <li>
            <a href="auth" class="btn">Авторизация</a>
        </li>
        {% else %}
        <li>
            <a href="/panel" class="btn">Личный кабинет</a>
        </li>
        <li>
            <a href="/logout" class="btn">Выйти</a>
        </li>
        {% endif %}
    </ul>
</header>
<main class="content">
    {% block content %} {% endblock %}
</main>
<footer class="footer">
    <p align="center">@Water 2024 Все права защишены</p>
</footer>

<div class="modal hidden">
    <div class="bg">
        <div class="modal_content">
            <p class="close_p">
                <a class="close_modal">
                    Х
                </a>
            </p>
            <h2>Добавить воды</h2>
            <p>
                <select id="change" class="btn">
                    <option value="100">100 мл</option>
                    <option value="200">200 мл</option>
                    <option value="300">300 мл</option>
                    <option value="400">400 мл</option>
                    <option value="500">500 мл</option>
                    <option value="600">600 мл</option>
                    <option value="700">700 мл</option>
                    <option value="800">800 мл</option>
                    <option value="900">900 мл</option>
                    <option value="1000">1000 мл</option>
                </select>
            </p>
            <p>
                <label for="water_limit">Ваш лимит воды</label>
                <input type="number" class="btn" id="water_limit" readonly placeholder="Ваш лимит воды" value="{{water_limit}}" name="water_limit">
            </p>
            <p>
                <label for="water">Кол-во воды мл</label>
                <input type="number" class="btn" id="water" value="100" name="water_ml">
            </p>
            <p>
                <button class="btn add_water_btn">Добавить</button>
            </p>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
    $('.water_btn').on('click', function(){
        $('.modal').removeClass('hidden');
        $('.modal').addClass('show');
    });

    $('.close_p').on('click', function(){
        $('.modal').removeClass('show');
        $('.modal').addClass('hidden');
    });

    $('#change').on('change', function(){
        let sel = $(this).val();
        $('#water').val(sel);
    });

    $('.add_water_btn').on('click', function(){
        let water = $('#water').val();
        let limit = $('#water_limit').val();

        $.ajax({
            url: '/get_count_water',
            method: 'post',
            dataType: 'html',
            data: {},
            success: function(data){
                count_water = parseInt(data.replace('"', ''));
                let res = parseInt(water) + parseInt(count_water);
                let procent = res / parseInt(limit) * 100;
                $('.water_rect').css('height', procent+'%');
            }
        });
    });


</script>
</body>
</html>