<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
<header class="header">
    <ul class="menu">
        <li>
            <a class="btn" href="/">Главная</a>
        </li>
        {% if not 'login' in request.session %}
        <li>
            <a href="/reg" class="btn">Регистрация</a>
        </li>
        <li>
            <a href="auth" class="btn">Авторизация</a>
        </li>
        {% else %}
        <li>
            <a href="/panel" class="btn">Личный кабинет</a>
        </li>
        <li>
            <a href="/logout" class="btn">Выйти</a>
        </li>
        {% endif %}
    </ul>
</header>
<main class="content">
    {% block content %} {% endblock %}
</main>
<footer class="footer">
    <p align="center">@Water 2024 Все права защишены</p>
</footer>
</body>
</html>